{% extends "base.html" %}

{% block pageContent %}
    <div class = "container vaporwave gx-2">
        <h1>Portfolio</h1>
        <small class = "text-muted"> Originally Published date, last modified on</small>
    </div>

    <div class = "hr"></div>
    <hr>
    <p>
        I've worked on a wide variety of project's over the years, from code as Infrastructure to 3D printing and modeling.  This website is dedicated to showing off all of those different projects.
        I have experience in the following technical domains

    </p>
    <table class = "table boneTable">
        <thead>
            <tr>
                <th scope = "col">#</th>
                <th scope = "col">Skill name</th>
                <th scope = "col">type</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope = "row">1</th>
                <td>relational database development</td>
                <td>technical</td>
            </tr>
            <tr>
                <th scope = "row">2</th>
                <td>python programming</td>
                <td>technical</td>
            </tr>
            <tr>
                <th scope = "row">3</th>
                <td>CAD</td>
                <td>technical</td>
            </tr>
            <tr>
                <th scope = "row">3</th>
                <td>report development</td>
                <td>technical</td>
            </tr>
            <tr>
                <th scope = "row">4</th>
                <td>business Analyst</td>
                <td>organizational</td>
            </tr>
            <tr>
                <th scope = "row">5</th>
                <td>architecting</td>
                <td>organizational</td>
            </tr>
            <tr>
                <th scope = "row">6</th>
                <td>scrum master</td>
                <td>organizational</td>
            </tr>
        </tbody>
    </table>
    <div>
        
    </div>
{% endblock %}