.darkerBone {
    background-color: #c0beaf
}


.darkBone {
    background-color: #eeecdc
}

.bone
{
    background-color: #F9F6EE;
}


.gray {
    background-color: antiquewhite;
}

.vaporwave
{
    background-image: linear-gradient(to bottom, transparent, #F9F6EE), 
    url(/frontend/frontpage-background.webp);
    background-position: center;
}

.boneTable {
    color: black;
    background-color: #F9F6EE;
}

