{% extends 'base.html' %}

{% block pageContent %}
    <p>
        create a new project page!  feel free to use markdown
    </p>
    <form action = "/newPageSubmit" method="POST">
        {{projectForm.csrf_token}}
        <div class = "form-group">
            <label>{{projectForm.title.label}}</label>
            {{projectForm.title(class = "form-control")}}
        </div>
        <div class = "form-group">
            <label>{{projectForm.summary.label}}</label>
            {{projectForm.summary(class = "form-control")}}
        </div>
        <div class = "form-group"></div>
            <label>{{projectForm.body.label}}</label>
            <br>
            {{projectForm.body(class = "form-control", rows = 30)}}
        </div>
        <div class = "form-group">
            <label>{{projectForm.sourceCodeLink.label}}</label>
            {{projectForm.sourceCodeLink(class = "form-control")}}
        </div>                
        <input type = "submit" value = "add">
    </form>
{% endblock %}